
:root {
  --apple-purple: #7d50df;
  --apple-grey: #636366;
  --apple-black: #1d1d1f;
  --apple-light-grey: #d6d6d6;
}

html,
body {
  background: #fafafa;
  color: var(--apple-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.showItem {
  cursor: pointer;
}

.closed {
  .searchbar-form {
      width: 0;
      opacity: 0;
      transition: width 2s, opacity .5s 0s;
  }
}


.searchbar-form {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 0;
    
    input {
        background: none;
        font-size: 1.125rem;
        border: none;
        outline: none;
    }
}

.searchbar-close {
  position: relative;
  visibility: hidden;
  opacity: 0;
  width: 0;
}

.close-icon-button {
  width: 0;
  padding: 0;
}

.nav-title-container {
    margin-right: auto;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s .5s, opacity 1s 2s;
    z-index: 1;
}

@media (max-width: 600px) {
  .open {
    .nav-title-container {
      overflow: hidden;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: visibility 1s 1s, opacity .5s;
      z-index: 0;
    }
  }
}

.open {
  .searchbar-form {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity .5s 1.5s;
  }
  .searchbar-close {
      transition: opacity .5s 1.5s;
      width: 1.25rem;
      opacity: 1;
      visibility: visible;
  }
  .close-icon-button {
    width: auto;
  }
} 